[submodule "registry-server"]
	path = registry-server
	url = https://github.com/rat-and/registry-server
[submodule "currency-exchange"]
	path = currency-exchange
	url = https://github.com/rat-and/currency-exchange
[submodule "currency-conversion"]
	path = currency-conversion
	url = https://github.com/rat-and/currency-conversion
[submodule "api-gateway-mirror"]
	path = currency-api-gateway
	url = https://github.com/rat-and/currency-api-gateway
